.features {
    grid-column: center-start / center-end;
    margin: 8vh 1vw 10vh 1vw;


    @supports(display: grid) {
        display: grid;
        //grid-template-columns: repeat(3, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        grid-gap: 8rem;
        align-items: start;

    }

}

#features-heading {
    text-align: center;
    // margin: 10rem auto 0 auto;
    font-size: 5rem;
    align-self: center;
    margin-top: 10vh;
    grid-column: full-start / full-end;
    color: $color-grey-dark-1;
}

.feature {
    float: left;
    width: 33.3333%;
    margin-bottom: 6vh;

    @supports(display: grid) {
        width: auto;
        margin-bottom: 0;
    }

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 3.5rem;

    &__icon {
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
        grid-row: 1 / span 2;
        transform: translateY(-1rem);
    }

    &__text {
        font-size: 1.7rem;
    }
}